.botNav div.container {width: 70%;}
.botNav ul {list-style: none; display: flex; justify-content: space-around;}
.botNav a:link, .topNav a:visited, .topNav a:hover, .topNav a:active {color: black; text-decoration: none;}
